<div class="chat-room-form">
  <h1>新規チャットルーム</h1>
  <%=form_with model: @room, local: true do |f|%>
    <%= render 'shared/error_messages', model: f.object %>
    <div class="chat-room-form-group">
      <%= f.label :チャットルーム名 %>
      <%= f.text_field :name, placeholder: "チャットルーム名を入力してください" %>
    </div>
    <div class="chat-room-form-group">
      <label for="chat_room_チャットメンバー">チャットメンバー</label>
      <select name="room[user_ids][]">
        <option value="">チャットするユーザーを選択してください</option>
        <% User.where.not(id: current_user.id).each do |user| %>
          <option value="<%= user.id %>"><%= user.name %></option>
        <% end %>
      </select>
      <input name="room[user_ids][]" type="hidden" value=<%= current_user.id %>>
    </div>
    <%= f.submit class: "chat-room-create-btn" %>
  <% end %>
</div>
